# Database Settings
spring:
  datasource:
    # in memory
#    url: jdbc:h2:mem:testdb;MODE=mysql;
    # file
    url: jdbc:h2:file:~/data/h2/testdb;MODE=MySQL
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver
jpa:
  database-platform: org.hibernate.dialect.H2Dialect
  hibernate:
    ddl-auto: update
  properties:
    hibernate:
      show_sql: true

# H2 Settings
h2:
  console:
    enabled: true
    path: /h2-console
